# Exemplos Práticos 

### Listas

Lista é um conjunto sequencial de valores, onde cada valor é identificado através de um índice. 
O primeiro valor tem índice 0.
Uma lista pode ter valores de qualquer tipo, incluindo outras listas .

In [2]:
lista1 = [3, 'abacate', 9.7, [5,6,3], "Python", (3,'j')]

# Mostra o item do indice indicado
print(lista1[2])
print(lista1[3])
print(lista1[3][1])

# Subistitui um elemendo no indice indicado
lista1[3] = 'morango'
print(lista1)

9.7
[5, 6, 3]
6
[3, 'abacate', 9.7, 'morango', 'Python', (3, 'j')]

In [19]:
lista2 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(lista2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [20]:
# Tamanho da lista
len(lista2)

10

In [21]:
# Menor menor valor da lista
min(lista2)

10

In [22]:
# Maior valor da lista
max(lista2)

100

In [23]:
# Retorna soma dos elementos da lista
sum(lista2)

550

In [24]:
# Adiciona um novo valor na no final da lista
lista2.append(200)
print(lista2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200]

In [25]:
# Insere uma lista no final de outra lista
lista2.extend([500, 400, 300])
print(lista2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 500, 400, 300]

In [26]:
# Remove um elemento da lista, dado seu índice
del lista2[1]
print(lista2)

[10, 30, 40, 50, 60, 70, 80, 90, 100, 200, 500, 400, 300]

In [27]:
# Verifica se um valor pertence à lista
50 in lista2

True

In [28]:
# Ordena em ordem crescente
lista2.sort()
print(lista2)

[10, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500]

In [29]:
# Inverte os elementos de uma lista
lista2.reverse()
print(lista2)

[500, 400, 300, 200, 100, 90, 80, 70, 60, 50, 40, 30, 10]

### Tupla

Tupla, assim como a Lista é um conjunto sequencial de valores, onde cada valor é identificado através de um índice. 
A principal diferença entre elas é que as tuplas são imutáveis, ou seja, seuselementos não podem ser alterados.
Dentre as utilidades das tuplas, destacam se as operações de empacotamento e desempacotamento de valores.

In [30]:
Tupla = (10, 20, 30, 40, 50)
a,b,c,d,e = Tupla
print("A = ", a," e D = ",d)
print("D + E = ", d+e)

# Uma tupla é imutavel portanto não é possível fazer essa atribuição --> Tupla[2]=8

A =  10  e D =  40
D + E =  90

### Dicionários 

Dicionário é um conjunto de valores, onde cada valor é associado a uma chave de acesso.

In [31]:
Nome_dicionario = {
    "arroz" : 17.30,
    "feijão" : 12.50,
    "carne" : 23.90,
    "alface" : 3.40
    }

print(Nome_dicionario)

{'arroz': 17.3, 'feijão': 12.5, 'carne': 23.9, 'alface': 3.4}

In [32]:
# Valor correspondente ao key
print(Nome_dicionario["carne"])

23.9

In [33]:
# Exclui um item in-formando a chave
del Nome_dicionario["feijão"]
print(Nome_dicionario)

{'arroz': 17.3, 'carne': 23.9, 'alface': 3.4}

In [34]:
# Verificar se a chave existe no dicionário
"batata" in Nome_dicionario

False

In [35]:
# Verificar se a chave existe no dicionário
"alface" in Nome_dicionario

True

In [36]:
# Obtém as chaves de um dicionário
Nome_dicionario.keys()

dict_keys(['arroz', 'carne', 'alface'])

In [37]:
# Obtém os valores de um dicionário
Nome_dicionario.values()

dict_values([17.3, 23.9, 3.4])